*.fits
1RXS0603/
A523/
A746/
astro121/
*.pyc
CAT.py
CIZAJ2242_redshiftcatalog_nostring_q34.txt
*.xcf
clusters/
contourplot.py
cosmo.py
ds9
ds9tools.py
figs/
layered_plotscript.py
MCCUtils/
MCMAC/
MCMAC.py
plotscript.py
PlotTSM_array_revB.py
PreliminaryRedshiftAnalysis.py
profiles.py
*.log
RadioRelicRedshifts/
*.prv
ResearchCode/
*.fits.gz
RXCJ1053/
sausage/
*.aux
*.bbl
*.blg
tools.py
ZwCl0008/
../